
/*ESTRUTURA DE RESET (limpa todas as margens padrões das tags) OBRIGATORIO NA FOLHA DE ESTILO PRINCIPAL*/
*{
  margin: 0;
  padding: 0;
  /*padding=margem de conteudo espaço para dentro do elemento*/
  border: 0;
  }

  body{
    font: 12px Arial, helvetica, sans-serif;
    background-color: #CCC;
  }
  #wrap{
    margin: 0 auto; /*centraliza o elemento no meio da pagina*/
    /*propriedade podem receber mais de um valor de uma so vez, margem recebe zero de espaço e alinhamento automatico*/
    width: 1000px;
  }
  #header{
    background: url(../imagens/fundo.jpg) repeat-x;
    height: 200px;
  }
  #navbar{
    height: 50px;
    background-color: #666;
  }
  #navbar ul{
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
  }
  #navbar ul li {
    background: #ccc;
    float: left;
    margin: 0 10px;
    text-align: center;
    width: 200px;
  }
  #navbar ul li a{
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 12px 0;
    }
    #navbar ul li a:hover,
    #navbar ul li a:active{
      background: #900;
      color:#fff;
    }
    #content{
      overflow: auto;
      background-color: #000;
    }
    #esquerda{
      float: left;
      width: 300px;
      height: 600px;
      background-color: #900;
      margin: 10px
    }
    #centro{
      float: left;
      width: 300px;
      height: 600px;
      background-color: #900;
      margin: 10px;
      margin-left: 30px;
    }
    #direita{
      float: right;
      width: 300px;
      height: 600px;
      background-color: #900;
      margin: 10px;
    }
    #footer{
      width: 1000px;
      height: 50px;
      clear: both;
      background-color: #666;
      text-align: center;
    }
    p, h1, h2, h3, h4, a {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      font-weight: normal;
      text-decoration: none;
      padding: 10px;
    }
    #content a{
      float: right;
      /*float posiciona a div de acordo com as divs proximas a ela*/
    }
    h1{
      font-size: 26px;
      color: #FFF;
      text-align: center;
    }
    h2{
      font-size: 20px;
      color: #fff;
    }
    h3{
      font-size:16px;
      color: #fff;
      text-align: center;
    }
    h4{
      font-size: 12px;
      color: #036;
    }
    /*pseudo-elemento link: quando o link existir sem que tenha sido clicado*/
    a:link{
      color: #03c;
    }
    a:visited{
      /*pseudo elemento "visited": ocorre quando um link ja foi clicado e sua pagina destino ja foi acessado*/
      color: #FFF;
    }
    /*houver=mouse ativo */
    /*pseudo elemento hover: ocorre quando o mouse é posicionado sobre o link*/
    a:houver{
      color: #000;
      text-decoration: underline;
    }
    a:active{
      /*pseudo elemento active: ocorre quando o botão do mouse é pressionado sobre o elemento mas não eh solto*/
      /*developer.mozilla.org*/
      /*cursor= altera a imagem do mouse*/
      color: #099;

    }
